.pageWrap{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
.pageWrap .wrap{
    position: relative;
    max-width: 980px;
    margin:0 auto;
} 
#logo{
    color:#fff;
    margin-bottom:0;
    text-align: center;
}
.wrap .headerDivider{
    float: left;
    margin:10px 0;
    height:44px;
}
#nav{
    float: left;
    background: none;
    margin-left:30px;
    border:none;
    line-height: 62px;
}
#nav a{
    color: #fff;
}
#nav .ant-menu-item-selected{
    color: #1890ff; 
}
.pageWrap .wrap .xsNav{
    position: absolute;
    right:0;
    top:0;
    width: auto;
}
.main{
    flex: 1
}
.main .wrap{
    border:1px solid #ccc;
    border-top:none;
    overflow: hidden;
}
.indexSider{
    border-right: 1px solid #ccc;
    padding-bottom:9999px;
    margin-bottom:-9999px;
}
#indexMenu{
    border-right:none;
}
#indexMenu li{
    margin-right:-1px;
    text-align: center;
    transition: none;
    border-right:3px solid rgba(0, 0, 0,0);
}
#indexMenu li:hover,#indexMenu .ant-menu-item-selected{
    background: #e6f7ff;
    border-right-color: #1890ff;
}
#indexXsMenu{
    display: flex;
}
#indexXsMenu li{
    flex:1;
    float: none;
    text-align: center;
}
.wrap .indexList{
    padding:0 10px;
}
.wrap .indexList p{
    margin:0;
}
