.pageWrap{
    min-height:100vh;
}
.pageWrap .wrap{
    position: relative;
    max-width: 980px;
    margin:0 auto;
}
#logo{
    color:#fff;
    margin-bottom:0;
    text-align: center;
}
.wrap .headerDivider{
    float: left;
    margin:10px 0;
    height:44px;
}
#nav{
    float: left;
    background: none;
    margin-left:30px;
    border:none;
    line-height: 62px;
}
#nav a{
    color: #fff;
}
#nav .ant-menu-item-selected{
    color: #1890ff; 
}
.xsNav{
    position: absolute;
    right:0;
    top:0;
    width: auto;
}
